.bundle
tmp
gems
TAGS
doc/api
doc/app
.DS_Store
log/*.log
tmp/**/*
html
config/database.yml
db/*.sqlite3
db/schema.rb
spec.old
rerun.txt
sqlnet.log
.yardoc
doc
xdoc/*.log
xdoc/*.pdf
xdoc/*.dvi
xdoc/*.fdb_latexmk
xdoc/*.synctex.gz
xdoc/*.aux
afiedt.buf
x.html
ups
public/javascripts/jquery-ui
public/stylesheets/sass/.sass-cache

