#form-container {
    width: 660px;
    height: 680px;
    margin: auto;
    overflow: hidden;
    background-color: #dfdfdf;
}
.field-error {
    margin-left: 1em;
    padding-right: 0.2em;
    margin-right: 0.25em;
    color: red;
    float: right;
    display: none; 
}
#left-column, #right-column {
    width:50%;
    float: left;
    overflow: hidden;
}
.column-padding {
    padding: 0.5em 0.25em 0.5em 0.25em;
}
.input-field {
    padding-bottom: 0.5em;
    padding-right: 0.5em;
    text-align: left;
}
label {
    margin-right: 0.25em;
    padding-left:0.2em;
}
fieldset {
    margin-top: 0.25em;
}
textarea {
    resize: none;
}
#submit-area {
    clear: both;
    margin: auto;
    width: 5.25em;
}
#description-field {
    clear: both;
    margin: auto;
    width: 100%;
    text-align:left;b
}
#description-padding {
    padding: 0.5em;
}


