.rounded-corners, #content-area, .box-with-border, .panel-header {
  -webkit-border-radius: 10px;
  -khtml-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px; }

#content-area {
  overflow: hidden;
  width: 95%;
  border: 1px solid black;
  margin: 1em auto;
  padding: 0.5em;
  background-color: white;
  min-width: 80em; }

#left-panel {
  width: 25em;
  float: left;
  height: 30em; }

#right-panel {
  padding-left: 25.25em;
  overflow: none; }

.box-with-border {
  overflow: hidden;
  margin: 0.5em;
  border: 0.2em solid grey;
  background-color: #DFD;
  overflow-y: auto; }

.panel-header {
  background-color: yellow;
  text-align: center;
  font-size: 1.25em;
  padding: 0.25em; }

.floating-box {
  float: left; }

.centered-box {
  margin: auto;
  padding: 0.5em; }
