-# to use: =render "shared/error_messages", :target => @user
- f target.errors.any?
    #error_explanation
      %h2= pluralize(target.errors.count, "error") %> prohibited this record from being saved:
      %ul
      - target.errors.full_messages.each do |msg| 
        %li= msg

