<% title "Thirdmode Example Store" %>

<% content_for(:body) do %>
	<div style="width:80%;background-color:red;padding:0.5em;border: 4px outset blue;margin:1em auto;">
		This is a demonstration of the functionality of an on-line e-commerce web site.  It is not a real
		store.  Do not enter your credit card or other payment information at any time.  In some cases, 
		test credit card information may be pre-filled into a form.  In a real merchant web site, this will
		be the main site page.  
	</div>

	<!--
	<div style="width:100%;background:coral;padding:0.5em;border: 4px outset blue;margin:1em 0em;height:16.25em;">
		<div style="padding:2px;background:green;border:outset green 1px;width:150px;float:left;margin-right:1em;">
			<%= image_tag "me-small.jpg" %>
		</div>
		<h3>About Thirdmode</h3>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer fringilla justo at odio fermentum aliquet. Praesent sodales vehicula lectus, vel facilisis sapien tempus sed. Donec sapien odio, aliquam sit amet porta et, convallis sed ipsum. Duis vehicula nisl quis risus interdum volutpat. Praesent tortor odio, volutpat et tincidunt ac, auctor vel nisl. Vestibulum sollicitudin suscipit mattis. Mauris condimentum velit vitae eros vestibulum congue. Etiam egestas lacus in mauris mattis tincidunt. Nunc eu ante vel est ultrices tempus nec eu mi. Nulla dapibus molestie ante. Suspendisse potenti. Aenean eget mauris nibh. Maecenas at lorem arcu. Mauris consectetur elementum elit, ut vehicula lectus placerat nec. Proin lacus lacus, commodo quis tempus at, elementum eu dolor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
	</div>
	-->
	<h2>Introduction to the Thirdmode Store Application</h2>
	<div style="background:white;margin:1em;padding:1em;">
	<div style="background:#f9f9f9;border: 1px dashed black;padding:0.5em;">
	The "Store" application is complete and fully functional, except that it connects to the Credit Card Processor test gateways instead of the real gateways.  This enables the full functionality of the demo to be exercised without any money changing hands.  This demo can be customized for particular businesses.  Most of this work will be content and style customizations.  The underlying Ruby on Rails application will not have to change significantly unless the merchant desires new functionality. </div></div>


	<h2>Software Architecture</h2>
	This demo is built using <a href="http://rubyonrails.org/"><em>Ruby on Rails</em></a> and the 
	<a href="http://www.oracle.com/database/index.html"><em>Oracle</em></a> database. Ruby on Rails was chosen because it promotes agile and rapid software development.  Oracle was chosen because of its scalability to very large web sites via the RAC cluster configuration, and because of its support for the PL/SQL language.  PL/SQL enables more work to be done in the database and less in the middle tier (Ruby on Rails) servers thus enhancing performance.  The <a href="http://httpd.apache.org/"><em>Apache HTTP Server</em></a> is used together with
	<a href="http://www.modrails.com/"><em>Phusion Passenger</em></a> to deploy the Ruby processes that run the Rails application.

	<h2>Administrative Operations</h2>

	<h2>Search Engine Optimization</h2>

	<h2>Google Analytics</h2>

	<h2>Scaling with Hardware</h2>
	We can build an Oracle RAC cluster tier and a tier of Ruby on Rails servers that function as one high-performance web site.  

	<h2>Custom Look and Feel</h2>
	The CSS stylesheets for this demo site are deliberately very simple.  This makes it easier to create a
	web site design suited to the requirements of the merchant.  

	<h2>Javascript</h2>
	The site will function 100&#37; correctly if a customer disables Javascript in their browser.  In this case,
	some conveniences or visual cues will not be available.  The <a href="http://jquery.com/"><em>jQuery</em></a> library is used to smooth over browser incompatibilities and to provide additional functionality and effects.

	<h2>Credit Card Billing</h2>
	Billing via credit card is done with the
	<a href="http://www.braintreepaymentsolutions.com/"><em>Braintree</em></a> payment gateway.  Braintree was chosen because it supports a payment mode called <em>Transparent Redirect</em> that allows a customer to
	pay by credit card without having credit card information pass through the merchant&apos;web site.
	This makes PCI compliance much simpler. 
	<a href="https://cms.paypal.com/us/cgi-bin/?cmd=_render-content&content_ID=developer/home_US"><em>Paypal Standard</em> and <em>Paypal Pro</em></a> are also supported.  Other payment gateways can be easily added.
	Note that all merchants need to be PCI compliant.  For information on PCI see the <a href="https://www.pcisecuritystandards.org"/><em>PCI Security Standards Council</em></a>.

	<h2>Customer Accounts</h2>
	It is very simple for a customer to create an account &#8212; he or she simply enters a <em>login</em>, a <em>password</em>, and an <em>email address</em>.  Optionally, the account creation process can require email validation.  Password recovery via email is supported. Account creation is kept very simple to maximize the chance the customer will stay on the website.  Alternatively, customers may purchase items without an account.
	If an account is created, the customer may return later to check order status and they will not have to enter billing or shipping addresses again. Log in via <a href="http://openid.net/"><em>OpenID</em></a> is also
	supported.
<% end %>



