<% title "Update Billing Information" %>

<% content_for :login do %>
  <div id="login-status">
    <%= render :partial => 'users/login_status', :locals => {:user => @user} %>
  </div>
<% end %>

<% content_for :body do %>
  <%= error_messages_for :address %>
  <div class="generic-form-container" %>
    <div class="generic-form-message" %>
      Please update your billing information as shown on your credit card statement.
    </div>
    <div style="margin-left:2em;">
      <%= render 'address/form', :atype => :billing %>
    </div>
  </div>
<% end %>
