<% form_for(:photo, :url => admin_photos_path, :html => { :multipart => true}) do |f| %>
	<div style="margin-bottom:0.75em;">
		Path to Photo: <%= f.file_field(:uploaded_photo, :size => 70) %>
	</div>
	<div style="margin-bottom:0.75em;">
		Title: <%= f.text_field(:title, :size => 90) %>
	</div>
	<div><%= f.submit("Upload Photo") %></div>
	<%= f.hidden_field(:product_id)%>
<% end %>


