(function($) {
  $("#ajax-indicator").hide();
  <% if @line_item.errors.empty? %>
    $("#message_box").html('<div id="flash_notice">' + '<%=j flash.discard(:notice) %></div>');
    $("#cart-contents").html(
      '<%=j render(:partial => "cart/cart_items",
        :locals => {:order => @order, :editable => true, :checking_out => false }) %>');
  <% else %>
    $("#message_box").html(
      '<%=j error_messages_for(:line_item, :header_message => "Could not create category:") %>');
  <% end %>
})(jQuery);





